:root {
    --primary-dark: #50614A;
    --primary-light: #C4E641;
    --neutral: #E6E9D8;
    --hover: #668000;
    --white: #FFFFFF;

    --radius-large: 64px;
    --radius-medium: 32px;
    --radius-small:16px;

    --title-large: 72px;
    --title-medium: 32px;

    --copy-large: 18px;
    --copy-small: 16px;

    --title-font: "Italiana", sans-serif;
    --transition: all 0.3s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--copy-small);
    color: var(--primary-dark);
}


body{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;

}

.fixed-navigation {
    width: 100%;
    padding: 24px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white) ;
    position: fixed;
}

.logo{
    height: 36px;
    width: auto;
}

.nav-links{
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover{
    color: var(--hover);
    transition: var(--transition);
}

.button{
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.primary{
    background-color: var(--primary-light);
    border-radius: var(--radius-medium);
}

.primary:hover{
    background-color: var(--hover);
    color: var(--neutral);
    transition: var(--transition);
}

.secondary {
    border: 1px solid var(--primary-dark);
    border-radius: var(--radius-medium);
}

.secondary:hover{
    border-color: var(--hover);
    transition: var(--transition);
    color: var(--hover);
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 24px;
    padding: 64px;
}

.hero-section{
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}

.hero-details{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    justify-content: flex-end;
}
.hero-image-container{
    border-radius: var(--radius-large);
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
    background-image: url(./Assets/hero.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}


.title-large{
    font-family: var(--title-font);
    font-size: var(--title-large);
}

.text-middle{
    font-size:var(--copy-large);
    line-height: 30px;
}

.title-middle{
    font-family: var(--title-font);
    font-size: var(--title-medium);
}

.hero-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 24px;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    border-radius: var(--radius-small);
    height: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding: 1rem;
}

.card-labels  {
    display: flex;
    justify-content: space-between;
}

.hero-cards>.card-image:nth-child(1){
    background-image: url(./Assets/heroSmall1.jpeg);
}

.hero-cards>.card-image:nth-child(2){
    background-image: url(./Assets/heroSmall2.jpg);
}

.chip {
    background-color: var(--white);
    padding: 8px 16px;
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.browse-section{
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
}

.searchbar{
    width: 60%;
    padding: 12px;
    border: 1px solid var(--primary-dark);
    border-radius: var(--radius-medium);
    background-color: transparent;
    text-align: center;
}

.searchbar:focus{
    outline: 1px solid var(--hover);
    transition: var(--transition);
}

.hotel-card {
    background-color: var(--white);
    border-radius: var(--radius-medium);
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.hotel-card:nth-child(1){
    grid-column: 1/4;
}
.hotel-card:nth-child(2){
    grid-column: 4/7;
}
.hotel-card:nth-child(3){
    grid-column: 7/10;
}
.hotel-card:nth-child(4){
    grid-column: 10/13;
}

.hotel-card:nth-child(1)>.card-image{
    background-image: url(./Assets/cards1.jpg);
}
.hotel-card:nth-child(2)>.card-image{
    background-image: url(./Assets/cards2.jpg);
}
.hotel-card:nth-child(3)>.card-image{
    background-image: url(./Assets/cards3.jpg);
}
.hotel-card:nth-child(4)>.card-image{
    background-image: url(./Assets/cards4.jpg);
}

.text-small{
    text-wrap: balance;
    text-align: justify;
    text-justify: inter-word;
    line-height: 24px;
}

.hotel-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer>.card-image{
    grid-column: 1/7;
    height: 400px;
    background-image: url(./Assets/footer.jpg);
    border-radius: var(--radius-medium);
}

.footer-details{
    grid-column: 7/13;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding-left: 36px;
    row-gap: 48px;
}

.hidden{
    display: none;
}

@media screen and (max-width:768px) {

    .hidden{
        display: inline;
    }

    .nav-links{
        display: none;
    }

    .fixed-navigation{
        padding: 24px;
    }

    .grid{
        grid-template-columns: repeat(8, 1fr);
        grid-auto-flow: row;
        column-gap: 12px;
        padding: 24px;
        row-gap: 12px;
    }

    .hero-section{
        height: auto;
        padding-top: 100px;
    }

    .hero-details{
        grid-column: 1/9;
    }

    .hero-image-container{
        display: none;
    }

    .hotel-card{
        row-gap: 12px;
    }

    .hotel-card:nth-child(1){
        grid-column: 1/9;
    }
    .hotel-card:nth-child(2){
        grid-column: 1/9;
    }
    .hotel-card:nth-child(3){
        grid-column: 1/9;
    }
    .hotel-card:nth-child(4){
        grid-column: 1/9;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 24px;
    }

    .footer-details{
        padding-left: 0px;
        row-gap: 12px;
    }

    .footer>.card-image{
        height: 250px;
        background-position: 0px -350px;
    }
}

@media screen and (max-width:456px) {

    .hidden{
        display: inline;
    }

    .nav-links{
        display: none;
    }

    .fixed-navigation{
        padding: 24px;
    }

    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        column-gap: 12px;
        padding: 24px;
    }

    .hero-section{
        height: auto;
        padding-top: 100px;
    }

    .hero-details{
        grid-column: 1/5;
    }

    .hotel-card:nth-child(1){
        grid-column: 1/5;
    }
    .hotel-card:nth-child(2){
        grid-column: 1/5;
    }
    .hotel-card:nth-child(3){
        grid-column: 1/5;
    }
    .hotel-card:nth-child(4){
        grid-column: 1/5;
    }

    .footer>.card-image{
        background-position: 0px -225px;
    }

    .hero-cards{
        flex-direction: column;
        row-gap: 12px;
    }
}
